<div class="flex-container" id="registration-body">
  <div class="flex-container-login">
    <div class="flex-item-center" id="title"><h2>Register</h2></div>
    <div class="flex-item-center">
      <%= form_for @user do |f| %>

          <% if f.object.errors.any? %>
              <div class="error">Your Username/Password could not be created</div>
          <% end %>
          <div>
            <%= f.label :username %>
            <%= f.text_field :username %>
          </div>

          <div>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
          <div>
            <%= f.label :bio %>
            <%= f.text_area :bio %>
          </div>
          <div>
            <%= f.label "How often do you rant?" %>
            <%= f.radio_button :frequency, "Daily" %>
            <%= f.radio_button :frequency, "Weekly" %>
            <%= f.radio_button :frequency, "Monthly" %>
          </div>


          <div>
            <%= f.submit %>
          </div>

      <% end %>
    </div>
  </div>
</div>