<div class="flex-container" id="registration-body">
  <div class="flex-container-login">
    <div class="flex-item-center" id="title"><h2>Register</h2></div>
    <div class="flex-item-center">
      <%= form_for @user do |form| %>

          <% if @user.errors.any? %>
            <%= render partial: 'shared/error_messages', locals: {user: @user} %>
          <% end %>
          <div class="flex-item-center">
            <%= form.label :username %>
            <%= form.text_field :username %>
          </div>

          <div class="flex">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div>
          <div class="flex">
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
          </div>
          <div class="flex">
            <%= form.label :last_name %>
            <%= form.text_field :last_name %>
          </div>
          <div class="flex">
            <%= form.label :bio %>
            <%= form.text_area :bio %>
          </div>
          <div class="flex">
            <%= form.label "How often do you rant?" %>
            <br/>

            <%= form.label "Daily" %>
            <%= form.radio_button :frequency, "Daily" %>

            <%= form.label "Weekly" %>
            <%= form.radio_button :frequency, "Weekly" %>

            <%= form.label "Monthly" %>
            <%= form.radio_button :frequency, "Monthly" %>
          </div>

          <div class="flex">
            <%= form.label :avatar %>
            <%= form.file_field :avatar %>
          </div>
          <div class="flex">
            <%= form.submit %>
          </div>

      <% end %>
    </div>
  </div>
</div>