<div class="flex-container-body" id="user-profile">
<div class="flex-container-profile" >
<div class="flex-container" id="logo-styling">
  <a href="<%= edit_user_path %>" class="flex-item-center"><%= full_name(@user) %></a>

</div>

<img src="/images/profile.jpg" class="footer-image">

<%= render partial: "follow_stats", locals: {user: @user} %>

<%= form_for [@user, @rant] do |form| %>
    <div>
      <%= form.label "A Rant About:" %>
      <%= form.text_field :title %>
    </div>
    <div>
    <%= form.label "Rant:" %>
    <%= form.text_area :text %>
    </div>
    <div>
    <%= form.submit "Rant" %>
    </div>
<% end %>

</div>
<div class="flex-container-user-body" id="user-body">
  <h1 class="rant-title-styling">Latest Rants</h1>
  <hr/>

  <div class="rant-body"><%= render partial: "latest_rants", locals: {rants: @rants} %></div>
  <h1 class="rant-title-styling">My Rants</h1>
  <hr/>
  <div class="rant-body"><%= render partial: "user_rants", locals: {rants: @user.rants} %></div>

</div>
</div>