<div class="flex-container-profile">
  <div class="flex-container" id="logo-styling">
    <a href="<%= edit_user_path(dashboard.user) %>" class="flex-item-center" id="current-user-name" data-user="<%= dashboard.user.id %>"><%= full_name(dashboard.user) %></a>

  </div>

  <%= image_tag dashboard.user.avatar.url(:square), class:"footer-image" %>

  <%= render partial: "users/follow_stats", locals: {dashboard: dashboard} %>
  <%= render partial: "shared/rant_form", locals: {dashboard: dashboard} %>


</div>