<div class="flex-container-rant">

  <div class="flex-container-user-profile">
    <div class="flex-item-profile-rant-title rant-title-styling">
      <h1><%= link_to full_name(rant.user), user_profile_path(dashboard.user, rant.user.id) %></h1>
    </div>
    <div class="flex-item-followed">
      <%= image_tag rant.user.avatar.url(:square), class: "footer-image" %>
    </div>
    <div class="flex-item-followed">
      <%= link_to 'Tweet This', "https://twitter.com/share?text=#{rant.title}: ", :target => "_blank", class: "tweet_button" %>
    </div>
    <div class="flex-item-followed">
      <% if dashboard.current_user_spam? %>
          <%= link_to 'Unspam', spam_user_rant_path(dashboard.user.id, rant.id), method: 'DELETE', class: "spam_button" %>
    <% else %>
          <%= link_to 'Spam', spam_user_rant_path(dashboard.user.id, rant.id), method: 'PATCH', class: "spam_button" %>
      <% end %>
    </div>
    <div class="flex-item-profile-rant-title rant-title">
      <h1><%= rant.title %></h1>
    </div>
    <div class="flex-item-rant">
      <p><%= link_to markdown(rant.text), user_rant_path(dashboard.user, rant.id) %></p>
      <br/>
    </div>
  </div>
  <div class="flex-item-favorite-button favorite-button">
    <% if rant.user_id != current_user.id %>
        <%= render partial: 'shared/favorite_buttons', locals: {rant: rant, user: dashboard.user} %>
        </div>
        <div class="flex-item-center">
          <%= render partial: "shared/follow_link", locals: {user: dashboard.user, other_user: rant.user} %>
        </div>
    <% end %>
    </div>