<div class="flex-item-search_form">
  <%= form_tag :searches, url: searches_path, method: :get do %>
      <%= text_field_tag :search_term, "#{params[:search_term]}" %>
      <%= submit_tag "Search" %>
  <% end %>
</div>
<% if users %>
    <%= render partial: 'search_user_results', locals: {users: users} %>
<% end %>

<% if rants %>
    <%= render partial: 'search_rants_results', locals: {rants: rants} %>
<% end %>