<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="flex-container">
<div class="flex-item" id="header">
  <div class="flex-item" id="header-container">
    <div id="banner_logo_styling">
      Rant.ly
    </div>
  </div>

  <div class="flex-item" id="header-container-buttons">
    <div>
      <% if session[:user_id] %>
          <%= link_to "Logout", session_path(session[:user_id]), :method => :delete, id: "login-button" %>
      <% else %>
          <%= link_to "Login", new_session_path, id: "login-button" %>
      <% end %>
    </div>
    <div>
      <% unless session[:user_id] %>
          <form action="<%= new_user_path %>">
            <button type="submit" id="join_button">Join</button>
          </form>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= flash[:notice] %>
</div>


<%= yield %>


</body>
</html>


<!--<div>-->
<!--<article class="one_eighth" id="logo_container">-->
<!--<a href="" id="banner_logo_styling">Rant.ly</a>-->
<!--</article>-->
<!--<article class="seven_eighths">-->
<!--<div style="">-->
<!--<form action="<%= new_user_path %>">-->
<!--<button id="join_button" type="submit">Join</button>-->
<!--</form>-->
<!--</div>-->
<!--<a href="" id="nav_button">Login</a>-->
<!--</article>-->
<!--</div>-->
<!-- END wrapper -->
